<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/admin']">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/admin/blogs']">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']"  [routerLink]="['/admin/pages']">Page</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/admin/homepage']">HomePage</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/admin/homepage']">HomePage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/admin/header-footer']">Header Footer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/admin/carousel']">Slide Images</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/admin/gallery']">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/admin/user']">Create User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/admin/about']">About</a>
        </li>
        <li  class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="navigation" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Students Notes/QnA
            </a>
            <div  class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li  class="dropdown-item"   [routerLinkActive]="['active']" class="nav-item">        
                <a  class="nav-link" [routerLink]="['/admin/notes']">Notes</a>
                <a  class="nav-link" [routerLink]="['/admin/questions']">Questions</a>
              
                <a  class="nav-link" [routerLink]="['/admin/answers']">Answers</a>
              
            </li>
            </div>
          </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/admin/guest']">Guest QNA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">View Site</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLinkActive]="['active']"  [routerLink]="['/auth']">Log Out</a>
         </li>
       </ul>
       
    </div>
  </nav>