<div class="row">
  <div *ngFor="let blog of bloglist | paginate: { itemsPerPage: 6, currentPage: p }" class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{blog.title}}</h5>
        <app-blogsummery [content]="blog.content"></app-blogsummery>
        <a (click)="ViewDetail(blog.slug)" class="btn btn-primary">Read</a>
      </div>
    </div>
  </div>

</div>
<br>
<div style="text-align:center">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>