<div *ngIf="loading==true" class="spinner-border text-muted"></div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Posted on</th>
      <td scope="col">View</td>
      <td scope="col">Download</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let noteslist of noteslist | paginate: { itemsPerPage: 10, currentPage: p }">
      <th scope="row"></th>
      <td>{{noteslist.title}}</td>
      <td>{{noteslist.desciption}}</td>
      <td>{{noteslist.posted_on}}</td>
     <td><button class="btn btn-primary" (click)="viewNotes(noteslist.notes)" >View</button></td>  

     <td>
      <button class="btn btn-primary" (click)="download(noteslist.notes,noteslist.title)" >Downoad</button></td>
     
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>

