            <h3>Latest Notes</h3>
<div  *ngIf="loading"> Downloading Your File Please Wait
    <div class="col-sm-4">
        <div class="mb-2">
          <progressbar [value]="progress">{{progress}}%</progressbar>
        </div>
      </div>
  <div  class="spinner-border text-dark"></div>
  </div>
  <p *ngIf="errormessege">{{errormessege}}</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Posted on</th>
      <td scope="col">View</td>
      <td scope="col">Download</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let noteslist of noteslist | paginate: { itemsPerPage: 10, currentPage: p }">
      <th scope="row"></th>
      <td>{{noteslist.title}}</td>
      <td>{{noteslist.desciption}}</td>
      <td>{{noteslist.posted_on}}</td>
     <td><button class="btn btn-primary" (click)="openModal(template,noteslist.notes)"  >View</button></td>  

     <td> <button class="btn btn-primary" (click)="download(noteslist.notes,noteslist.title)" >Downoad</button></td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>

<ng-template style="width:1000%" #template>
  <div  class="modal-header">
    <h4 class="modal-title pull-left">Viwer</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div style="width:100%" class="modal-body">
    <pdf-viewer [src]="src" [render-text]="true" >
    </pdf-viewer>
  </div>
</ng-template>