<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Posted on</th>
        <td scope="col">View</td>
        <td scope="col">Download</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let answer of answerlist | paginate: { itemsPerPage: 10, currentPage: p }">
        <th scope="row"></th>
        <td>{{answer.title}}</td>
        <td>{{answer.desciption}}</td>
        <td>{{answer.posted_on}}</td>
       <td><button class="btn btn-primary" (click)="viewAns(answer.answer)" >View</button></td>  
       <td> <button class="btn btn-primary" (click)="download(answer.answer,answer.title)">Downoad</button></td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
