<div style="margin-top: 2%" class="container">
    <article>
        <div class="card">
            <div class="card-body">
                <div style="margin-right:10px;margin-left:10px;align-content: center">
                    <h3 class="title">{{blodetail.title}}<br></h3>
                    <hr>
                    <share-buttons></share-buttons>
                    <p>{{blodetail.posted_on}}</p>
                    <hr>
                    <div overflow:hidden [ngxSummernoteView]="blodetail.content "></div>
                </div>
            </div>
        </div>
    </article>
</div>