<div id="editor"></div>
<button class="btn btn-primary" (click)="goback()">Go back To list</button>
<form [formGroup]="NewPost" (ngSubmit)="onSubmit()">  
  <label>
      <br>

      Title Of The Blog
    <input type="text" formControlName="title">
  </label>
    <br>
  <label>
    Blog Body
  </label>
    <br>
    <div aria-placeholder="jhajhdh" formControlName="body" [ngxSummernote]="config"  ></div>
    <label>
    Keywords On this Blog For SEO
    <input type="text" formControlName="Keywords">
  </label>
    <br>
  <input   class="btn btn-primary" type="submit" value="Save" name="Save">

</form>
<!-- use with ngModel -->
