.row{
    margin-left: 5%;
}
.card{
    margin-bottom: 10%;
}
@media (min-width: 540px){
.col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 30%;
    /* max-width: 50%; */
    text-shadow: 0 0 0px black;
}
}