<h4>Letest Qustions</h4>
<div *ngIf="loading"> Downloading Your FIle Please Wait
  <div class="col-sm-4">
    <div class="mb-2">
      <progressbar [value]="progress">{{progress}}%</progressbar>
    </div>
  </div>
  <div class="spinner-border text-dark"></div>
</div>
<p *ngIf="errormessege">{{errormessege}}</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Posted on</th>
      <td scope="col">View</td>
      <td scope="col">Download</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let question of qustionList | paginate: { itemsPerPage: 10, currentPage: p }">
      <td>{{question.title}}</td>
      <td>{{question.desciption}}</td>
      <td>{{question.posted_on}}</td>
      <button type="button" class="btn btn-primary" (click)="openModal(template,question.qustion)">View</button>
      <td> <button class="btn btn-primary" (click)="download(question.qustion,question.title)">Downoad</button></td>
    </tr>
  </tbody>
</table>
<pagination-controls autoHide="true" responsive="true" (pageChange)="p = $event"></pagination-controls>

<button type="button" class="btn btn-primary" (click)="openModal(template,question.qustion)">View</button>
<td> <button class="btn btn-primary" (click)="download(question.qustion,question.title)">Downoad</button>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<ng-template style="width:1000%" #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Viwer</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div style="width:100%" class="modal-body">
    <pdf-viewer [src]="src" [autoresize]="true" [fit-to-page]="true" [render-text]="true">
    </pdf-viewer>
  </div>
</ng-template>