
.card{
    border-color: #007bff;
    margin-top: 4%;
    -webkit-box-shadow: -7px 7px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 7px 9px -1px rgba(0,0,0,0.75);
    box-shadow: -7px 7px 9px -1px rgba(0,0,0,0.75);
}


.btn-defaul{
    color:white;
    background: red;
}
