<br>

<div class="container">
<form #registerForm="ngForm">
    <label>Contact No :</label>
    <input type="Text" [formControl]="contacts"> {{contact}} <br>
    <label>  Email-Address :</label>
    <input type="Text">{{Email}}
    <label>  facebook :</label>
    <input type="text" > {{facebook}}<br>
    <label>Twitter:</label>
    <input type="text" >  {{twitter}}<br>
    <label>Instagram :</label>
    <input type="text" >   {{instagram}}<br>
    <button type="button" (click)="Update(registerForm)">Submit</button>
</form>
</div>