
<div class="footerlable">Header Deatails</div>
<div class="header-footer">
<div class="container">
<form [formGroup]="headerfooter" (ngSubmit)="onSubmit()" >
    <label>Contact No :</label>
    <input formControlName="contact" type="Text" > {{contact}} <br>
    <label>  Email-Address :</label>
    <input formControlName="email" type="Text">{{Email}}
    <label>  facebook :</label>
    <input formControlName="facebook" type="text" > {{facebook}}<br>
    <label>Twitter:</label>
    <input formControlName="twitter" type="text" >  {{twitter}}<br>
    <label>Instagram :</label>
    <input formControlName="instagram" type="text" >   {{instagram}}<br>
    <button type="submit">Submit</button>
</form>
</div>

<div class="footerlable">Footer Details</div>
<div class="container"> 
<form [formGroup]="Footerdetail" (ngSubmit)="updatefooter()" >
    <label>Footer details :</label>
    <input formControlName="footerdetail" type="text" >   {{footerdetail}}<br>
    <button type="submit">Submit</button>
</form>
</div>
</div>