<!--*ngFor="let slide of sliderArray" [ngClass]="{ active: 1===slide.id}"
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" *ngFor="let slide of sliderArray;let k = index" [attr.data-slide-to]="k" class="active"></li>
  </ol>
  <div class="carousel-inner">
    <div *ngFor="let slide of sliderArray;let i = index"  [ngClass]="{ active: i===0}" class="carousel-item active ">
      <img src="{{slide.image}}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{slide.title}}{{i}}</h5>
        <p>{{slide.description}}{{i}}</p>
      </div>
    </div>
      </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
-->

<div class="container gallery-container">
  <p class="page-description text-center">Gallery </p>
  <div class="tz-gallery">
    <div class="row">
      <div *ngFor="let slide of sliderArray" class="col-sm-6 col-md-4">
        <div (click)="openModal(template)" class="lightbox">
          <img src="{{slide.image}}" alt="image">
          <ng-template #template>
            <div class="modal-header">
              <div class="col-sm-6 preview">
                <img src="{{slide.image}}" alt="image">
              </div>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              </button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>