<div class="container">
  <div class="card">
    <div class="card-body">
        <p *ngIf="massage" class="alert alert-success" >{{massage}}</p>
      <div style="margin-right:4%;margin-left: 4%;align-content: center">
        <label style="display: inline">Site Logo : </label> <img width="200" height="100" src="{{imgURL}}">
        <br>
        <br> 
        <input type="input" class="btn btn-success" type="file" (change)="onFileUpload($event)">
        <form [formGroup]="AboutForm" (ngSubmit)="onSubmit()">
          <label>SiteName:</label>
          <input type="text" formControlName="sitename" placeholder="Your WebSite Name" id=""><br>
          <label>Site Description:</label>
          <input type="text" formControlName="siteDescription" placeholder="Your WebSite Slogan" id=""><br>
          <label>Site Auther Name</label>
          <input type="text" formControlName="siteAuther" placeholder="Your WebSite Auther name" id=""><br>

          <div formControlName="siteAbout" [ngxSummernote]="config"></div>
          <div *ngIf="loading" class="spinner-border text-dark"></div>
          <button type="submit" class="btn btn-success" (click)="upload()">Upload</button>
        </form>
      </div>
    </div>
  </div>
</div>