<div style="float: right;box-sizing: content-box">
<div id="editor"></div>
<form [formGroup]="AboutForm" (ngSubmit)="onSubmit()">  
  <label>
    Title Of The Page
    <input type="text" formControlName="title">
  </label>
    <label>
    About Body
    <br>
     <quill-editor style="width: 20px;"  (onEditorCreated)="created($event)"  formControlName="body">
    </quill-editor>
     </label>
  <label>
    Keywords
    <input type="text" formControlName="Keywords">
  </label>
  <input class="btn btn-primary-modal" type="submit" value="Save" name="Save">

</form>
<!-- use with ngModel -->
</div>