.quill-editor {
    min-height: 16em;
    max-height: 20em;
    overflow-y: auto;
  }
  .preview {
    min-height: 10em;
    max-height: 16em;
    overflow-y: auto;
    border: 1px solid #eee;
    border-top: none;
  }