.row{
    margin-left: 5%;
    
}
.card{
    margin-bottom: 10%;
}
.card-body{
    background-color: whitesmoke;
}
@media screen and (min-device-width: 0px) and (max-device-width: 2180px){
    
.col-sm-6 {
    display: ruby-base ;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 30%;
    /* max-width: 50%; */
    text-shadow: 0 0 0px black;
}
}
.btn{
    background-color: #3f51b5;
    color: aliceblue;
}

.card-img-top{
    height: 200;
}