::ng-deep {
    background-color:red
}

@media screen and (min-device-width: 0px) and (max-device-width: 2180px){
    .container{
        background-color:#3f51b5;
        color: aliceblue;
        
        position: absolute;
        top: 25%;
        left: 0%;
        right: 0%;
        
        width: 100%;
        border-radius: 0px 20px;
        padding-top: 20px;
    }
}
@media  (min-width: 1024px){
.container{
    background-color:#3f51b5;
    color: aliceblue;
    background-position-y: center;
    position: absolute;
    top: 30%;
    right: 0%;
    width: 500px;
    border-radius: 0px 20px;
    padding-top: 20px;
}
}
button:hover{
    background-color: #3f3f3f;
    border-radius: 0px 10px;
    border-color: aliceblue;   
}
body{
    background-color: red; 
}
button{
    background-color: #3f51b5;
    border-radius: 0px 10px;
    border-color: aliceblue;   
}
