<div id="editor"></div>
<button class="btn btn-primary-modal" (click)="goback()">Go back To list</button>
<form [formGroup]="NewPost" (ngSubmit)="onSubmit()">  
  <label>
    Title Of The Page
    <input type="text" formControlName="title">
  </label>

  <label>
    Page Body
    <br>
<br>
<!-- or use with formControl -->
<div aria-placeholder="jhajhdh" formControlName="body" [ngxSummernote]="config"  ></div>
</label>
  <label>
    Keywords On this Page For SEO
    <input type="text" formControlName="Keywords">
  </label>
  <input class="btn btn-primary-modal" type="submit" value="Save" name="Save">

</form>
<!-- use with ngModel -->
