<div id="editor"></div>
<button class="btn btn-primary" (click)="goback()">Go back To list</button>
<form [formGroup]="NewPost" (ngSubmit)="onSubmit()">  
  <label>
    Title Of The Page
    <input type="text" formControlName="title">
  </label> 
  <label>
    Page Body
    <br>
    <br>
<!-- or use with formControl -->
<div  formControlName="content" [ngxSummernote]="config"  ></div>
</label>
<label>
  Menu-Name 
  <input type="text" formControlName="menu_name">
</label>
  <input class="btn btn-primary" type="submit" value="Save" name="Save">

</form>
<!-- use with ngModel -->
