<div class="main-container">
  <div class="container">
    <form [formGroup]="subscribe" (ngSubmit)="onSubmit()">
      <h2>Subscribe</h2>
      <div class="form-group">
        <label for="name">Name : </label>
  <span> <input placeholder="Name" type="text" class="form-control" id="name" formControlName="Name"> </span> <br/>
        <label for="Email">Email : </label>
        <span><input type="text" placeholder="Email" class="form-control" formControlName="Email" id="Email"></span> <br/>
        <label for="phone">Phone :</label>
        <span><input placeholder="Phone no" type="text" class="form-control" formControlName="Phone_no" id="phn"></span> <br/>
        <label for="description">Description</label>
        <textarea placeholder="Description" type="text" class="form-control" formControlName="Description" id="Textarea"></textarea>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
  <!-- Subscribe Form-->

  <div class="container">

    <div class="col-md-6">
      <!-- support info -->
      <div class="contact-info-content">
        <h2>Contact US</h2>
        <br>
        <div class="address-info">
          <ul>
            <span><i class="fa fa-map-marker" aria-hidden="true"></i> address</span>
            <br>
            <li>
              Street : {{headerinfo.Street}} <br />
            </li>
            <li>
              City : {{headerinfo.City}}
            </li>
            <li> State : {{headerinfo.State}} <br /></li>
            <li>Pincode : {{headerinfo.Pincode}} <br /></li>

            <li><span><i class="fa fa-phone" aria-hidden="true"></i>phone : </span><a href="#">{{headerinfo.contact}}</a></li>
            <li><span><i class="fa fa-envelope" aria-hidden="true"></i>email : </span><a href="#">{{headerinfo.email}}</a></li>


          </ul>
          <ul class="top-bar-text social">
            <a href="{{headerinfo.facebook}}"><i class="fa fa-facebook"></i></a>
            <a href="{{headerinfo.twitter}}"><i class="fa fa-twitter"></i></a>
            <a href="{{headerinfo.instagram}}"><i class="fa fa-instagram"></i></a>
          </ul>
        </div>
      </div>
      <!-- /.support info -->


    </div>