.container{
    display : ruby;
    padding : 4%;
    
}
input,.form-group{
    width: 100%;
    min-width:400px;
}
.form-control{
    display: block;
    max-height: 90px;
}
.fa{
    
    color: aliceblue;
    margin: 5px;
}
.fa:hover{
       color: aqua;
       border-radius: 50% 50%;;
       
       
}
textarea{
    min-height: 90px;
}
button{
    background-color: #3f51b5;
    border: white;
}

button:hover{
    background-color: #0020d3
    
}
.main-container{
background-color: rgb(77, 77, 77);
color: aliceblue;
}
