label {
    /* Other styling... */
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}
.col-md-6,.container{
    display : ruby;
    margin: 2%;
    padding-left: 5%;
   
}

a{
    color: white;   
}
input,.form-group{
    width: 100%;
    min-width:300px;
    
}
.form-control{
    display: block;
    max-height: 90px;
    
}
.btn-outline-success {
    color: #3f51b5;
    background-color: #f9000000;
    background-image: none;
    border-color: #f5fff8;
}
.fa{
    
    color: aliceblue;
    margin: 5px;
}
.fa:hover{
       
       background-color: #3f51b5; 
       border-radius: 0% 0%;
}
textarea{
    min-height: 90px;
}
button{
    background-color: #3f51b5;
    border: white;
}

button:hover, button.btn:active,button:visited,button:focus {
    background: #263dc0;
    border-color: black; 

    
}
label {
    float: left
}
span {
    display: block;
    overflow: hidden;
    padding: 0 4px 0 6px
}
.main-container:hover{
background-color: rgb(77, 77, 77);
color: aliceblue;
}

.main-container{
    background-color: #3f51b5;
    color: aliceblue;
    
    
}