


.card{
    border-color: #007bff;
    margin-top: 4%;
    -webkit-box-shadow: -7px 7px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 7px 9px -1px rgba(0,0,0,0.75);
    box-shadow: -7px 7px 9px -1px rgba(0,0,0,0.75);
}

::placeholder {
    color: whitesmoke;
}
@media screen and (min-device-width: 0px) and (max-device-width: 2180px){

    

    .carousel{
        background-color: #007bff;
        width: 100%;
        border-radius: 11px 11px 11px 11px;
        }
    button{
        background-color: #007bff;
        border-radius: 0px 15%;
        border-color: aliceblue;
        display: inline;
        margin-left: 0%;
        margin: 1%;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }
    input{
        background-color: #007bff;
        display: inline;
        margin-left: 0%;
        margin: 1%;
        border-color: aliceblue;

    }
    label{
        color: aliceblue;
    }

}

.input{
    color: aliceblue;
    padding: 0 4px 4px 4px;
    border-color: white;
    border-radius: 0px 10px;  
}

input:hover{
    border-radius: 2px 2px;
        border-color: aliceblue;
    background-color: #404249;
    
}
button:hover{
    border-radius: 0px 15%;
    border-color: aliceblue;
    background-color: #404249;
    

}
