.mail , .contact{
    float: left;
    display:-webkit-inline-flex;
    color: aliceblue;
}

header{
    background-color: #007bff !important;
    height: 50px;
    

}
header:hover{
    background: #007bff;
    background: linear-gradient(to right bottom, #007bff, #546e7a);
  }
i{
    float: right;
    color: aliceblue;
    position: relative;
    margin: 5px;
    top: -10px ;

}
i:hover , .mail:hover, .contact:hover
{
    color: rgb(0, 234, 255);
}