<header id="header">
    <div class="container">
        <div style="display:inline" class="contact"> Contact : {{headerinfos.contact}}</div> <br>
        <div style="display:inline" class="mail">Email : {{headerinfos.email}}</div>
        <a href="{{headerinfos.facebook}} "><i class="fa fa-facebook"> </i></a> 
        <a href="{{ headerinfos.twitter }}"><i class="fa fa-twitter"></i></a>
        <a href="{{ headerinfos.instagram}}"><i class="fa fa-instagram"></i> </a>   
           
    </div>
  </header>

