.mail , .contact{
    float: left;
    display:-webkit-inline-flex;
    color: aliceblue;
}

header{
    background-color: #3f51b5 !important;
    height: 50px;
    

}
header:hover{
    background: #3f51b5;
    background: linear-gradient(to right bottom, #455a64, #546e7a);
  }
i{
    float: right;
    
    color: aliceblue;
    position: relative;
    top: -10px ;
    
}