.main {
  position: relative;
  width: 35vw;
  height: 35vh;
  margin: 0 auto;
}

@import '~@ngx-share/button/themes/material/material-dark-theme';
@import '~@ngx-share/button/themes/modern/modern-light-theme';
