<div class="container">
    <div class="card">
        <div class="card-body">
            <div style="margin-right:1%;margin-left: 1%;align-content: center">
             <div class="footerlable">Add new Question</div>
            <div *ngIf="loading">Uploading Question Please Wait
              <div class="spinner-border text-muted"></div>
            </div>
            <div *ngIf="!loading" class="carousel">
              <input class="input" type="text" placeholder="Enter Title" [(ngModel)]="title" id="">
              <input class="input" type="text" placeholder="Enter description" [(ngModel)]="desciption" id="">
              <input type="file" (change)="onFileUpload($event)"><br>
              <div class="form-check">
                <input class="form-check-input" type="radio" [(ngModel)]="qna" name="exampleRadios" id="exampleRadios1"
                  value="qna" checked>
                <label class="form-check-label" for="exampleRadios1">
                  Question
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" [(ngModel)]="qna" name="exampleRadios" id="exampleRadios2"
                  value="answer">
                <label class="form-check-label" for="exampleRadios2">
                  Answers
                </label>
              </div>
              <div class="form-check disabled">
                <input class="form-check-input" [(ngModel)]="qna" type="radio" name="exampleRadios" id="exampleRadios3" value="notes">
                <label class="form-check-label" for="exampleRadios3">
                  Notes
                </label>
              </div>
            </div>
              <button type="submit" class="btn btn-primary" (click)="upload()">Save</button><br>
              <div *ngIf="error">
                <p class="text-warning .bg-warning">{{error}}</p>
              </div>
              <div class="table-responsive">
                <table class="table table-active">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Posted On</th>
                  <td scope="col">Type</td>
                  <td scope="col">Delete</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let qna of qnalist | paginate: { itemsPerPage: 10, currentPage: p }">
                  <td>{{qna.title}}</td>
                  <td>{{qna.desciption}}</td>
                  <td>{{qna.posted_on}}</td>
                  <td><div >{{qna.type}}</div></td>
                  <td> <button class="btn btn-primary" (click)="delet(qna.id,template)">Delete</button></td>
                </tr>
              </tbody>
            </table>
            </div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
        </div>
<!-- Modal -->
<br><br>
<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to Delet ?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
  </div>
</ng-template>