<div class="container">
    <div *ngIf="loading!=true"  class="carousel">

            <label> Uploade Pictures for updating Slide Images</label>
            <input class="input" type="text" placeholder="Enter Title" [(ngModel)]="title" id="">
            <input class="input" type="text"  placeholder="Enter description" [(ngModel)]="description" id="">
            <input  type="input" class="btn btn-success" type="file" (change)="onFileUpload($event)">
            <button  type="submit" class="btn btn-success" (click)="upload()"  >Upload</button>
            <div  *ngIf="error"> <p class="text-warning .bg-warning" >{{error}}</p></div>
    </div>
    <div *ngIf="loading"><h4>Uploading Please Wait</h4>
        <div style="align-item:center" *ngIf="loading" class="spinner-border text-dark"></div>
        </div>
</div>
<app-carousellist></app-carousellist>