<div class="container">
  <div class="card">
    <div class="card-body">
      <div style="margin-right:4%;margin-left: 4%;align-content: center">
        <div *ngIf="loading!=true" class="carousel">

          <label> &nbsp; Uploade Pictures for updating Slide Images</label>
          <input class="input" type="text" placeholder="Enter Title" [(ngModel)]="title" id="">
          <input class="input" type="text" placeholder="Enter description" [(ngModel)]="description" id="">
          <input type="input" class="btn btn-success" type="file" (change)="onFileUpload($event)">
          <button type="submit" class="btn btn-success" (click)="upload()">Upload</button>
          <div *ngIf="error">
            <p class="text-warning .bg-warning">{{error}}</p>
          </div>
        </div>
        <div *ngIf="loading"> Uploading Your FIle Please Wait
          <div class="col-sm-4">
            <div class="mb-2">
              <progressbar [value]="progress">{{progress}}%</progressbar>
            </div>
          </div>
          <div class="spinner-border text-dark"></div>
        </div>
      </div>
      <app-carousellist *ngIf="loading!=true"></app-carousellist>
    </div>
  </div>
</div>