<div class="container">
    <div class="carousel">
            <input type="text" placeholder="Enter Title" [(ngModel)]="title" id="">
            <input type="text"  placeholder="Enter description" [(ngModel)]="description" id="">
            <input  type="input" class="btn btn-success" type="file" (change)="onFileUpload($event)">
            <button  type="submit" class="btn btn-success" (click)="upload()">Upload</button>
            <label> Uploade Pictures for updating carousel</label>
    </div>
</div>
<br>
<br>
<app-carousellist>
    
</app-carousellist>