<div class="footerlable">Add new Qustion</div>
<div class="container">
                <input  type="text" placeholder="Enter Title" [(ngModel)]="title" id=""><br>
                <input  type="text"  placeholder="Enter description" [(ngModel)]="desciption" id=""><br>
                <input  type="input"  type="file" (change)="onFileUpload($event)"><br>
                <button  type="submit"  class="btn btn-primary" (click)="upload()">Save</button><br>
                <div  *ngIf="error"> <p class="text-warning .bg-warning" >{{error}}</p></div>
                <label> Uploade Pictures for updating carousel</label>

    </div>